AllowAgentForwarding no
AllowStreamLocalForwarding no
AllowTcpForwarding no
ClientAliveCountMax 2
ClientAliveInterval 300
GatewayPorts no
HostBasedAuthentication no
IgnoreRhosts yes
LogLevel VERBOSE
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 4
MaxStartups 10:30:60
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
PrintMotd no
PubkeyAuthentication yes
StrictModes yes
UsePAM yes
X11Forwarding no
