AllowAgentForwarding no
AllowTcpForwarding no
ClientAliveCountMax 0
ClientAliveInterval 300
HostBasedAuthentication no
IgnoreRhosts yes
LogLevel VERBOSE
LoginGraceTime 60
MaxAuthTries 4
MaxSessions 10
MaxStartups 10:30:60
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
PermitUserEnvironment no
PrintMotd no
Protocol 2
PubkeyAuthentication yes
StrictModes yes
UsePAM yes
X11Forwarding no
